body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.leaflet-control {
    font-size: 14px;
}

.leaflet-popup-content {
    width: 200px;
}